<!DOCTYPE html>
{%load static%}
<html lang="en">
    <head>
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Creative - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{%static 'assets/favicon.ico'%}" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{%static 'css/styles.css'%}" rel="stylesheet" />
    </head>
   <div>
    <body id="page-top">
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Login here</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                       <center>
                        <div style="width: 300px; height: 200px;">
                            <form action="#" class="signin-form" method="post">
                                {% csrf_token %}
                                <div class="form-group mb-3">
                                  <label class="label" for="name">Username</label>
                                  <input type="text" class="form-control" placeholder="Username" name="username" required />
                                </div>
                                <div class="form-group mb-3">
                                  <label class="label" for="password">Password</label>
                                  <input type="password" class="form-control" placeholder="Password" required name="password" />
                                </div>
                                <div class="form-group">
                                  <button type="submit" class="form-control btn btn-primary rounded submit px-3">
                                    Sign In
                                  </button>
                                </div>
    
                                <p class="text-center">
                                    Not a member? <a href="{% url 'signup'%}">Sign Up</a>
                                  </p>
                              </form>
                        </div>
                       </center>

                    
                                                 
          
        
        </div>
 
      </div>
    </div>
    </div>
                      
                        <!-- <p class="text-white-75 mb-5 ">The best Mind hunting questions you will ever find</p>
                        <a class="btn btn-primary btn-xl" href="{%url 'quiz-home'%}">Start Quiz</a>
                        <a class="btn btn-primary btn-xl" href="{%url 'quiz-record'%}">records</a> -->
                    </div>
                </div>
            </div>
        </header>

        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
      </body>
   </div>

   </html>
